In [2]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series([10,20,30,40,50])
print(s)
print(s.dtype)
print(s.values)
print(s.index)
s.name = "calories"
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64
int64
[10 20 30 40 50]
RangeIndex(start=0, stop=5, step=1)
0    10
1    20
2    30
3    40
4    50
Name: calories, dtype: int64

### Indexing

In [20]:
print(s[0])
print(s[0:4:2])

10
0    10
2    30
Name: numbers, dtype: int64

In [24]:
# iloc->location based indexing

print(s.iloc[[1,3,4]])

1    20
3    40
4    50
Name: numbers, dtype: int64

In [32]:
index = ["apple", "banana", "grapes", "orange", "strawberry"]
s.index = index
print(s)

apple         10
banana        20
grapes        30
orange        40
strawberry    50
Name: calories, dtype: int64

In [36]:
print(s['grapes'])
print(s.iloc[3])
print(s.loc['grapes'])
print(s['banana':'orange'])

30
40
30
banana    20
grapes    30
orange    40
Name: calories, dtype: int64

In [7]:
fruit_protein = {
    "Avocado": 2.0,       
    "Guava": 2.6,
    "Blackberries": 2.0,
    "Oranges": 0.9,
    "Banana": 1.1,
    "Apples": 0.3,
    "Kiwi": 1.1,
    "Pomegranate": 1.7,
    "Mango": 0.8,
    "Cherries": 1.0
}

s2=pd.Series(fruit_protein , name="Protein")
print(s2[s2>1])#conditional selection

Avocado         2.0
Guava           2.6
Blackberries    2.0
Banana          1.1
Kiwi            1.1
Pomegranate     1.7
Name: Protein, dtype: float64

### Logical Operators

In [12]:
print(s2[(s2>0.5) | (s2<=2) ])

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: Protein, dtype: float64

In [14]:
s2[~(s2>1)]

Oranges     0.9
Apples      0.3
Mango       0.8
Cherries    1.0
Name: Protein, dtype: float64

In [15]:
s2['Mango'] = 2.8
print(s2)

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           2.8
Cherries        1.0
Name: Protein, dtype: float64

### DataFrame

In [33]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice"],
    "Age": [25, 30, 35, np.nan, 29, 25],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "HR"],
    "Salary": [50000, 60000, 70000, 62000, np.nan, 50000]
}

df = pd.DataFrame(data)
print(df)
print(df.head(2))
print(df.tail(3))

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0
    Name   Age Department   Salary
0  Alice  25.0         HR  50000.0
1    Bob  30.0         IT  60000.0
    Name   Age Department   Salary
3  David   NaN         IT  62000.0
4    Eve  29.0         HR      NaN
5  Alice  25.0         HR  50000.0

In [ ]:
##loc and iloc

print(df.iloc[1:3 ,:2])# rows,columns

print(df.loc[1:3, ["Age","Department"]])

      Name   Age
1      Bob  30.0
2  Charlie  35.0
    Age Department
1  30.0         IT
2  35.0    Finance
3   NaN         IT

In [30]:
df.shape

(6, 3)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        6 non-null      object
 1   Age         5 non-null      float64
 2   Department  6 non-null      object
 3   Salary      5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 324.0+ bytes

In [ ]:
df.describe()

             Age        Salary
count   5.000000      5.000000
mean   28.800000  58400.000000
std     4.147288   8532.291603
min    25.000000  50000.000000
25%    25.000000  50000.000000
50%    29.000000  60000.000000
75%    30.000000  62000.000000
max    35.000000  70000.000000

In [ ]:
##Brodcasting

df["Salary"]=df["Salary"] + 5000
print(df)

      Name   Age Department   Salary
0    Alice  25.0         HR  60000.0
1      Bob  30.0         IT  70000.0
2  Charlie  35.0    Finance  80000.0
3    David   NaN         IT  72000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  60000.0

In [39]:
##Renaming Coloumns

df.rename(columns = {"Department": "Dept"}, inplace = True)